@charset "UTF-8";

@font-face {
    font-family: PassionOne;
    src: url(../fonts/PassionOne-Bold.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Sriracha;
    src: url(../fonts/Sriracha-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    color: white;
}

header > h1 {
    background-color: black;
    font-family: PassionOne;
    font-weight: lighter;
    text-align: center;
    font-size: 7vi;
    padding-top: 50px;
}

header > h1 > span {
    font-size: 10vi;
}

header > p {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

main {
    font-family: Sriracha;
    font-size: 3.5vi;
    font-weight: lighter;
    line-height: 2.0;
}

.fundo-branco {
    background-color: white;
    padding: 60px 0px 10vi 30px;
}

.fundo-branco > p {
    padding-bottom: 50px;
}

.fundo-transparente {
    padding: 70px 30px;
    box-shadow: inset 6px 0px 15px rgba(0, 0, 0, 0.5);
}

.fundo-transparente > p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    max-width: 42vi;
    padding: 5px 0px 5px 5px;
}

#fundo1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

#fundo2 {
    background-image: url('../imagens/background002.jpg');
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

footer > p {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    padding: 8px;
}

footer a:hover {
    text-decoration: underline;
}